<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Style File</title>
    <!-- Bootstrap Core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="./css/stylish-portfolio.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <script src="./vendor/jquery/jquery.min.js"></script>   
</head>

<body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
          <i class="fa fa-times"></i>
        </a>
            <li class="sidebar-brand">
                <a class="js-scroll-trigger" href="/">Style File</a>
            </li>
            <li>
                <a class="js-scroll-trigger" href="/">Home</a>
            </li>
            <li>
                <a class="js-scroll-trigger" href="https://www.premierdesigns.com/AshleyBixler" target="_blank">Shop</a>
            </li>
          <!--   <li>
                <a class="js-scroll-trigger" href="#portfolio">Style Trends</a>
            </li> -->
            <li>
                <a class="js-scroll-trigger" href="#contact" onclick=$( "#menu-close").click();>Contact</a>
            </li>
        </ul>
    </nav>
   {{{body}}}
    <div class="container" id="contact">
        <hr>
        <div class="text-center center-block">
            <a href="https://www.facebook.com/groups/AshleyBixlerPD" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://www.instagram.com/ashleybixlerpd/" target="_blank"><i id="social-tw" class="fa fa-instagram fa-3x social"></i></a>
            <a href="https://in.pinterest.com/ashleybixlerpd/" target="_blank"><i id="social-gp" class="fa fa-pinterest-square fa-3x social"></i></a>
            <a href="mailto:ashleßybixlerpd@gmail.com" target="_blank"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        <hr>
    </div>
    <!-- Bootstrap core JavaScript -->
        <script src="./vendor/popper/popper.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="./vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="./js/stylish-portfolio.js"></script>
</body>

</html>