 <!-- Header -->
    <header class="header" id="top">
        <div class="text-vertical-center">
            <h1>Style File</h1>
            <h3>Get your jewlery box ready!</h3>
            <br>
            <a href="/register" class="btn btn-dark btn-lg js-scroll-trigger">Details</a>
        </div>
    </header>
    <!-- About -->
    <!-- <section id="about" class="about">
      <div class="container text-center">
        <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
        <p class="lead">This theme features some wonderful photography courtesy of
          <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
      </div> -->
    <!-- /.container -->
    <!-- </section> -->
    <!-- Services -->
    <section id="services" class="services text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 mx-auto">
                    <!-- <h2>Our Services</h2> -->
                    <!-- <hr class="small"> -->
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shopping-bag fa-stack-1x text-primary"></i>
                  </span>
                                <h4>
                    <strong>Shop</strong>
                  </h4>
                                <p>View my online cataloge and purchase at your convenience!</p>
                                <a href="https://www.premierdesigns.com/AshleyBixler" class="btn btn-light" target="_blank">Shop Now!</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-diamond fa-stack-1x text-primary"></i>
                  </span>
                                <h4>
                    <strong>Opportunity</strong>
                  </h4>
                                <p>Share Premier Designs Jewlery and make someone sparkle</p>
                                <a href="https://www.premierdesigns.com/AshleyBixler/opportunity/" target="_blank" class="btn btn-light">Join Now!</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-video-camera fa-stack-1x text-primary"></i>
                  </span>
                                <h4>
                    <strong>Watch</strong>
                  </h4>
                                <p>Join my Facebook group and watch Live demos</p>
                                <a href="https://www.facebook.com/groups/AshleyBixlerPD/" class="btn btn-light" target="_blank">Watch Now!</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-pencil-square-o fa-stack-1x text-primary"></i>
                  </span>
                                <h4>
                    <strong>Register</strong>
                  </h4>
                                <p>Complete your Style File for up-to-date specials</p>
                                <a href="/register" class="btn btn-light">Register Now!</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                    <h2>Current Accessory Trends</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="https://www.premierdesigns.com/AshleyBixler/101/retail-catalog/shop-by-style/faith-based/" target="_blank">
                    <img class="img-portfolio img-fluid" src="img/faithbased.jpg">
                  </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="https://www.premierdesigns.com/AshleyBixler/101/retail-catalog/shop-by-style/rose-gold/" target="_blank">
                    <img class="img-portfolio img-fluid" src="img/rosegold.jpg">
                  </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="https://www.premierdesigns.com/AshleyBixler/101/retail-catalog/shop-by-style/love-your-layers/" target="_blank">
                    <img class="img-portfolio img-fluid" src="img/layers.jpg">
                  </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="https://www.premierdesigns.com/AshleyBixler/101/retail-catalog/shop-by-style/mixed-metals/" target="_blank">
                    <img class="img-portfolio img-fluid" src="img/mixedmetals.jpg">
                  </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <a href="https://www.premierdesigns.com/AshleyBixler" target="_blank" class="btn btn-dark">View More Items</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>