.services {
	background-color: #6AD5C3;
}

.text-primary {
	color: #EF7A8D !important;
}
.social {
	color: #6AD5C3;
}
#profile {
	background-color: #6AD5C3;
	border-color: #6AD5C3;
}
element.style {
	background-color: #6AD5C3;
}